
/* PARTIE GAUCHE =====================================================================================================================*/

.corpsGauche{
    width: 200px;
    background-color : #3d8bcd;
}

.corpsGauche ul {
	list-style: none;
	font-style: italic;
	padding: 0;
	margin: 0;
}


/* PARTIE GAUCHE INFORMATION DE CONNEXION ============================================================================================*/
.corpsGaucheHaut{
	display: flex;
	height: 150px;
	flex-direction: column;
	background-color: azure;
}

.corpsGaucheHautUtilisateur{
	display: flex;
	border-bottom: 2px solid;
    justify-content: center;
    padding-top: 25px;	
    font-size: 20px;
	flex-grow: 1;
}


.identifiant{
    flex-grow: 1;
    font-size : 20px;
	padding-top : 25px;
	text-align: center;
}



/* PARTIE GAUCHE LIENS VERS LES AUTRES PAGES =========================================================================================*/

.corpsGaucheBas {
	display: flex;
	flex-direction: column;
	background-color: #3d8bcd;
    height: 600px;
}

.corpsGaucheBas li {
	justify-content: space-around;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: auto;
	padding-right: auto;
}

.corpsGaucheBas li:hover{
	background-color: black;
}

.corpsGaucheBas a {
	font-size: 20px;
	text-decoration: none;
	color: white;
	padding:auto;
}






@media screen and (max-width: 600px) {



    .corpsGaucheBas{
        height: 35px;
        flex-direction: row;
    }


    .corpsGaucheBas li{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .corpsGaucheBas a{
        font-size: 12px;
    }


	
    .corpsGaucheHaut{
        height: 100px;
		flex-direction: row;
    }


	.corpsGaucheHautUtilisateur{
		flex-grow: 1;
		border-bottom: none;
		border-right: 1px solid black;
		justify-content: center;
	}


    .identifiant{
		flex-grow: 1;
		border-top: none;
		border-left: 1px solid black;
    }


	
	.corpsCentral header div ul li{
		font-size: 10px;
	}


	.localisation {
		font-size: 10px;
	}


}