.btn1{
    display: inline-block;
    text-decoration: none;
    color:#ffffff;
    border: 2px solid;
    border-radius: 3px;
    background:#6dd2ed;
    padding:4px;
    font-family:sans-serif;
    margin-right: 100px ;
  }
  .btn1:hover{
    background:#0116f6;
    color:#ffffff;
    border-radius: 2px;
    border-color:#66afe9;
    border: 2px solid;;
    
  }

  .btn2{
    display: inline-block;
    text-decoration: none;
    color:#ffffff;
    border: 2px solid;
    border-radius: 3px;
    background:#6dd2ed;
    padding:4px;
    font-family:sans-serif;
    margin-right: 100px;
  }
  .btn2:hover{
    background:#0116f6;
    color:#ffffff;
    border-radius: 2px;
    border-color:#66afe9;
    border: 2px solid;;

    
  }

  .btn3{
    display: inline-block;
    text-decoration: none;
    color:#ffffff;
    border: 2px solid;
    border-radius: 3px;
    background:#6dd2ed;
    padding: 4px;
    font-family:sans-serif;
    
  }
  .btn3:hover{
    background:#0116f6;
    color:#ffffff;
    border-radius: 2px;
    border-color:#66afe9;
    border: 2px solid;;

    
  }

  