/* SECTION HAUTE : EN-TÊTE ========================================================================================================= */
*{
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif ;
}



.menuHaut{
	display: flex;
	background-color: #3d8bcd;
	justify-content: space-between;
	width: 100%;
	font-size: 20px;
}

.menuHaut ul{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-decoration: none;
}

.menuHaut ul li{
	padding: 25px;
}

.menuHaut ul li a{
	color : white;
	text-decoration: none;
	padding: auto;
}

.menuHaut ul li:hover{
	background-color: black;
	transition: 1.5s;
}



/* CONTENU DE LA PAGE =============================================================================================================== */

.corps{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.corps div{
	display: flex;
	flex-direction: column;
}



/* PARTIE GAUCHE =====================================================================================================================*/

.corpsGauche{
    flex-grow: 1;
    background-color : #3d8bcd;
}

.corpsGauche ul {
	list-style: none;
	font-style: italic;
	padding: 0;
	margin: 0;
}


/* PARTIE GAUCHE INFORMATION DE CONNEXION ============================================================================================*/
.corpsGaucheHaut{
	display: flex;
	height: 200px;
	flex-direction: column;
	background-color: azure;
}

.corpsGaucheHautUtilisateur{
	display: flex;
	border-bottom: 1px solid;
	margin: 0;
	font-size: 20px;
	flex-grow: 1;
}

.corpsGaucheHautPhoto{
	background-color: azure;
	flex-grow: 6;
}

.identifiant{
	flex-grow: 1;
	border-top: 1px solid black;
	padding: auto;
	text-align: center;
}



/* PARTIE GAUCHE LIENS VERS LES AUTRES PAGES =========================================================================================*/

.corpsGaucheBas {
	display: flex;
	flex-direction: column;
	background-color: #3d8bcd;
    height: 600px;
}

.corpsGaucheBas li {
	justify-content: space-around;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.corpsGaucheBas li:hover{
	background-color: black;
}

.corpsGaucheBas a {
	font-size: 20px;
	text-decoration: none;
	color: white;
}


/* PARTIE CENTRALE ===================================================================================================================*/

.corpsCentral {
	display: flex;
	flex-direction: row;
}


/* EN-TÊTE DE LA PARTIE CENTRALE =====================================================================================================*/
.corpsCentral header {
	display: flex;
	flex-direction: row;
    width: 100%;
    text-align: center;
    font-size: auto;
    font-style: italic;
	background-color: azure;
	padding-bottom: 0px;
	border-bottom:1px solid #3d8bcd ;
	border-left: 1px solid #3d8bcd;
	border-right: 1px solid #3d8bcd;
}

.corpsCentral header > div {
	flex-grow: 1;
}

.corpsCentral header div ul li{
	font-size: 20px;
	list-style: none;
}

 /* EN-TÊTE PARTIE CENTRALE RESULTATS CAPTEURS =======================================================================================*/
 
 .localisation {
	font-size: 20px;
	margin: auto;
	flex-grow: 1;
}



 .capteur {
    display: flex;
    flex-direction: row;
	border-left: 1px solid #3d8bcd;
}

.capteur ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


/* PARTIE DROITE BOUTONS DE CHOIX DE CAPTEURS ========================================================================================*/


.corpsDroit button{
    width: 100%;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
	border-radius: 5px;
    font-size: auto;
    text-decoration: none;
	border: 2px solid #3d8bcd;
	background-color: azure;
    cursor: pointer;
    box-shadow: 5px 5px 5px #3d8bcd;
}

.corpsDroit button:hover{
    transform: translateY(5px);
    background-color: black;
    color: white;
    box-shadow: none;
}



/* ==================================================================================================================================*/
/* ==================================================================================================================================*/
/* ==================================================================================================================================*/
/* ==================================================================================================================================*/
/* ==================================================================================================================================*/



@media screen and (max-width: 600px) {
    .menuHaut {
        font-size : 12px;   
    }

    .menuHaut ul li{
        padding: 10px 5px;
    }
    
    .corps{
        flex-direction: column;
    }


    .corpsGaucheBas{
        height: 35px;
        flex-direction: row;
    }


    .corpsGaucheBas li{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .corpsGaucheBas a{
        font-size: 12px;
    }


	
    .corpsGaucheHaut{
        height: 100px;
		flex-direction: row;
    }


	.corpsGaucheHautUtilisateur{
		flex-grow: 1;
		border-bottom: none;
		border-right: 1px solid black;
		justify-content: center;
	}



    .corpsGaucheHautPhoto{
        flex-grow: 1;
    }


    .identifiant{
		flex-grow: 1;
		border-top: none;
		border-left: 1px solid black;
    }


	
	.corpsCentral header div ul li{
		font-size: 10px;
	}


	.localisation {
		font-size: 10px;
	}


}