*{
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif ;
}
div#div1{
    background-color:#eee;
    margin:100px;
    padding:50px;
};
div#div2{
    background-color:#eee;
    color:#eee;
    margin:100px;
    padding:50px;
};
p#title1,p#title2{
    text-align: center;
};