* {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  }
  
  body{
    height: 100%;
  }
  
  
/* Css classes for the flexboxes - Page de Questions du QCM */

.div_container{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:stretch;
    height:100%;
    width : 95%;
    margin : auto;
}

  
.ScoreBoard_Row{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #F5F5F5;
    width: 90%;
    margin: auto;
    height: 300px;
}

.ScoreBoard_Column1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-top: 40px;
}

.imageBox1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}


.image1{
    height: 50px;
    width: 50px;
}

.ScoreBoardName{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    align-self: center;
    color: grey;
    font-size: 110%;
}

.ScoreBoardNameBox {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    height: 15%;
    margin-top: 10px;
}


.ScoreBoardNumber{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 200%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.ScoreBoard_Column2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-top: 0px;
}

.image2{
    height: 50px;
    width: 50px;
}

.imageBox2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

.ScoreBoard_Column3{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-top: 75px;
}

.image3{
    height: 50px;
    width: 50px;
}

.imageBox3 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

.MyPlacement {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #F5F5F5;
    height: 150px;
    /* left: 0%; */
    width: 90%;
    margin: auto;
}

.MyPlacement_Column {
    height: 45px;
    width: 100%;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-top: 20px;
}

.Placement_text{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    align-self: center;
    color: black;
    font-size: 110%;
}


.MyPlacement_Row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
    height: 75px;
    width: 90%;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    margin-top: 10px;
    margin-left: 0px;
}

.NumberScoreBox{
    margin: 25px;
}


.NumberScore_text {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    align-self: center;
    color: grey;
    font-size: 160%;
}


.UserPhoto {
    height: 50px;
    width: 50px;
    margin: 12px;
}

.NameScoreBox{
    margin: 10px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.NameScore{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    color: grey;
    font-size: 100%;
}