*{
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif ;
}

/* Header ====================================================================================================================================== */
/* .menuHaut{
	display: flex;
	background-color: #3d8bcd;
	justify-content: space-between;
	width: 100%;
	font-size: 20px;
}
.menuHaut ul{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-decoration: none;
}
.menuHaut ul li{
	padding: 25px;
}
.menuHaut ul li:hover{
	background-color: black;
	transition: 1.5s;
}
.menuHaut ul li a{
	color : white;
	text-decoration: none;
	padding: auto;
} */





/* Body ======================================================================================================================================== */





/* Corps : bandeau gauche + tableaux =========================================================================================================== */
.corps{ 
	display: flex;
	flex-direction: row;
	width: 100%;
}





/* Sections corpsGauche et corpsCentral ======================================================================================================== */
.corps div{ 
	display: flex;
	flex-direction: column;
}





/* ============================================================================================================================================= */
/* Partie tableau  ============================================================================================================================= */
/* ============================================================================================================================================= */
.corpsCentral{	
	flex-grow: 7;
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
}





/* En-tête tableau  ============================================================================================================================ */
.enteteCentral{
	display: flex;
	flex-direction: row;
	width: 50%;
	margin: auto;
}





/* Boutons en-tête ============================================================================================================================= */
.enteteCentral > button {
	display: flex;
	border: 2px solid #3d8bcd;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	color: black;
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
}
.enteteCentral button:hover {
	background-color: #3d8bcd;
	color: white;
	transition-duration: 1s;
  }
  



  
/* ============================================================================================================================================= */
/* TABLEAU  ==================================================================================================================================== */
/* ============================================================================================================================================= */
table{
	width: 95%;
	margin: 20px auto;
}





/* Lignes ====================================================================================================================================== */
tr{
    display: flex;
    width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
tr:nth-child(even) { /* Coloration 1 ligne sur 2 */
	background-color: #3d8bcd;
  }
.ligne:hover{
    background-color: rgba(61, 139, 205,0.6);
	font-size: 25px;
}





/* En-tête du tableau ========================================================================================================================== */
.entete{
	background-color: rgba(61, 139, 205,0.6);
	color: black;
	border-bottom: 2px solid black;
}




/* Cases du tableau ============================================================================================================================ */
th,td{
	width: 20%;
	font-size: 20px;
	padding-left: 15px;
	text-align: left;
	margin-top: auto;
	margin-bottom: auto;
}







/* ============================================================================================================================================= */
/* ============================================================================================================================================= */
/* RESPONSIVE DESIGN =========================================================================================================================== */
/* ============================================================================================================================================= */
/* ============================================================================================================================================= */
@media screen and (max-width: 600px) {
    .menuHaut {
        font-size : 12px;   
    }
    .menuHaut ul li{
        padding: 10px 5px;
    }



	/* Corps du texte */
    .corps{
        flex-direction: column;
    }



	/* Espace liens vers les pages */
    .corpsGaucheBas{
        height: 35px;
        flex-direction: row;
    }



	/* Listes des pages disponibles */
    .corpsGaucheBas li{
        padding-top: 5px;
        padding-bottom: 5px;
    }



	/* Liens */
    .corpsGaucheBas a{
        font-size: 12px;
    }



	/* Espace Photo / Nom Prénom / Rôle */
    .corpsGaucheHaut{
        height: 100px;
		flex-direction: row;
    }



	/* Rôle */
	.corpsGaucheHautUtilisateur{
		flex-grow: 1;
		border-bottom: none;
		border-right: 1px solid black;
		justify-content: center;
	}



	/* Photo */
    .corpsGaucheHautPhoto{
        flex-grow: 1;
    }



	/* Nom Prénom */
    .identifiant{
		flex-grow: 1;
		border-top: none;
		border-left: 1px solid black;
    }



	/* Tableau =========================================*/
	table{
		width: 100%;
	}	
	
	

	/* Lignes */	
	.ligne:hover{
		font-size: 20px;
	}



	/* Cases */
	th,td{
		font-size: 15px;
	}
}





/* ============================================================================================================================================= */
/* RESPONSIVE DESIGN =========================================================================================================================== */
/* ============================================================================================================================================= */
@media screen and (max-width: 1000px)  {
	/* Tableau */
	table{
		width: 100%;
	}
	

	/* Ligne */
	.ligne{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.ligne:hover{
		font-size: 20px;
	}
	

	
	/* Cases */
	th,td{
		font-size: 15px;
	}
}