body{
    height: 100%;
    width: 100%;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif ;
    margin: auto ;

}

.Flex-row{
    display: flex;
    border: 2px solid grey;
    height: 40vh;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

div.Flex{
    display: flex;
   
    flex-direction: column;
    margin-top: 5%;
}

h1{
    margin-left: 30%;
}

div.button{
    background-color: rgb(206, 206, 206);
    height: 2em;
    width: 6em;
    padding-left: 1em;
    padding-top: 1em;
    margin-left: 85%;
    transform: translate(2em, -3em);
    border-radius:5%
}

.button:hover{
    background-color: rgb(155, 155, 155);
    cursor: pointer;

}

div.Image1{
    width: 313px;
    aspect-ratio: 2/1;
    background-repeat: no-repeat;

    margin-left: 3em;
    background-image:url(https://www.boursedirect.fr/media/articles/boursier/colas-confirme-l-objectif-de-4-de-marge-operationnelle-courante-en-2023/colas.png?width=360&ratio=16x9) ;
}
div.Image2{
    width: 313px;
    aspect-ratio: 2/1;
    
    margin-left: 3em;
    background-repeat: no-repeat;

    background-image:url(https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/tj66rjzzbvpifwiqpsdt) ;
}
div.Image3{

    width: 313px;
    aspect-ratio: 2/1;
    
    margin-left: 3em;
    background-repeat: no-repeat;

    background-image:url(https://pbs.twimg.com/profile_images/829331568082690048/we6jTkGG_400x400.jpg) ;
}
div.Image4{
    width: 313px;
    aspect-ratio: 2/1;
    background-repeat: no-repeat;

    
    margin-left: 3em;
    background-image:url(https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/256x256/54c928833f536e3d97d22675612741b1) ;
}
div.Image5{
    width: 313px;
    aspect-ratio: 2/1;
    background-repeat: no-repeat;

    margin-left: 3em;
    background-image:url(https://media-exp1.licdn.com/dms/image/C560BAQGgE_cvvIFvPQ/company-logo_100_100/0/1566311029561?e=2147483647&v=beta&t=_7emvVbtlasPpewnsQwR5s-HF_TfGyAzS6sejmyINJE) ;
}


div.Flex2{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
div.Flex3{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}



div.text{
    display: block;
    
    margin-left: 3em;
    margin-top: 5em;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif ;

   }

