*{
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif ;
}

h1 {
	text-align: center;
}

/*Affichage des tickets -------------------------------------------*/
.tickets_support {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.row1 {
  width: 10%;
}

.row2 {
  width: 40%;
}

.row3 {
  width: 10%;
}

.row4 {
  width: 20%;
}

.row5 {
  width: 20%;
}

.row6 {
  width: 10%;
}
.row7 {
  width: 10%;
}



.tickets_support th, td {
  padding: 15px;
}

.tickets_support tbody td {
  text-align: center;
}

.tickets_support th {
	background-color:#3d8bcd; 
  color: #ffffff;
}

.tickets_support tr:nth-child(even) {/*lignes paires bleues */
	background-color:#3d8bcd ;
	color: #ffffff;
}

.tickets_support tr:nth-child(odd) {/*ligfnes impaires blanc cassé*/
	background-color: #f5f5f5 ;
}



/*Voir un ticket -------------------------------------------*/

.view_ticket {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.titre {
	width: 20%;
	text-align: left;
}
.view_ticket th, td {
  padding: 10px;
}

.view_ticket tr:nth-child(odd) {/*lignes paires bleues*/
	background-color:#3d8bcd ;
	color: #ffffff;
}

.view_ticket tr:nth-child(even) {/*ligfnes impaires blanc cassé*/
	background-color: #f5f5f5 ;
}

/*Ajouter un ticket -------------------------------------------*/

.add_ticket{
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black; 
}

.add_ticket th, td {
	padding: 5px;
	
}

.add_ticket tr {/*blanc cassé*/
	background-color: #f5f5f5 ;
}

.titreat {
	width: 20%;
	text-align: left;
}

.vert {
	color:green;
	font-weight:bold;
}

.orange{
	color:orange;
	font-weight:bold;
}

.rouge {
	color:red;
	font-weight:bold;
}

.champ {
  width:400px;
  height:200px;
}





